# Backend Configuration Keys
PORT=
NODE_ENV=
JWT_SECRET=
JWT_EXPIRES_IN=
SALT_ROUNDS=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_HOST=
DB_PORT=
DB_DIALECT=
DB_SSL=
CORS_ORIGIN=

# Frontend Configuration Keys
VITE_API_URL=
